header {
    padding: 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

header img{
    width: 5rem;
}

h1 {
    color: hsl(180, 3%, 6%);
    font-size: 3rem;
    font-family: sans-serif;
    line-height: 1.2;
    font-weight: 500;
}

main {
    background: linear-gradient(to bottom, hsl(210, 100%, 15%), hsl(209, 100%, 28%));
}

h2, h3 {
    color: hsl(0, 24%, 93%);
    font-size: 2rem;
    font-family: sans-serif;
    line-height: 1.5;
    font-weight: 400;
    margin: 1rem 0;
}

h2 {
    padding: 1rem 0 0 0;
    margin: 0;
}

ol li {
    line-height: 2rem;
}

ol li img{
    margin-bottom: 1rem;
}

.container {
    max-width: 60rem;
    margin: auto;
}

p, a {
    color: white;

    font-family: sans-serif;
    
    font-weight: 300;
}

a:hover {
    color: hsl(0, 24%, 93%);
}

.strong {
    color: hsl(0, 24%, 93%);
}
